.container {
  display: flex;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
}

.menu-icon {
  /* Styles for the menu icon */
}

.drawer {
  width: 20%;
  height: 100vh;
  background-color: #f0f0f0;
  position: fixed;
  top: -100%;
  left: 0;
  transition: top 0.3s ease-in-out;
  z-index: 1;
}

.drawer.open {
  top: 0;
}

.drawer-content {
  /* Styles for the content inside the sidebar */
}

.main-content {
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}

.main-content.shift {
  margin-left: 20%; /* Shifting the main content when sidebar is open */
}
